/*======== LAYOUT ========*/

html, body, .capa{
	height: 100%;
}
body{
	background: url("imagens/capa.png"), 
				url("imagens/ruido.png"),
				linear-gradient(50deg,#ff4169,#7c26f8);
	background-attachment: fixed;
	font-family: Helvetica,arial,sans-serif;
}

/*Barra de Navegação*/
.img-logo{
	height: 40px;
	width: 132px;
	background: url("imagens/spotify.svg") no-repeat;
	display: inline-block;
	background-size: contain;
	color: transparent;
	
	padding: 0 0;
}

nav.navbar-transparente{
	padding: 15px 15px;
	background: rgba(0, 0, 0, 0.6)

}
.divisor{
	background: white;
	width: 1px;
	height: 16px;
	margin: 15px 10px;
}


.navbar .navbar-nav > li > a{
	color: white; 
} 
.navbar .navbar-nav > li > a:hover{
	color: #9bf0e1; 
} 

/*a.nav-link:link{
color: white;
}*/
/*a.nav-link:visited{

}*/
/*a.nav-link:hover{

}*/
/*a.nav-link:active{

}*/

/*Imagem de Capa*/

.capa{
	display: table;
	width: 100%;
}
.texto-capa{
	color: white;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}
.btn-capa{
	background: white;
}

/*========TIPOGRAFIA========*/
h1 {
	font-size: 100px;
	font-weight: 900;
	letter-spacing: -2px;
}